<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjpowernode.crm.mapper.UserMapper">
    <select id="getUser" resultType="User">
        select * from tbl_user where loginAct=#{username} and loginPwd=#{password}
    </select>
    
    <update id="changePwd">
        update tbl_user set loginPwd=#{password} where loginAct=#{username}
    </update>
</mapper>